<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="./css/small.css" />

    <title>Custom Puzzle</title>
  </head>
  <body>
    <header>
      <a href="puzzleHome"
        ><img
          src="./assets/BackButton.svg"
          alt="back"
          width="100px"
          height="100px"
      /></a>
      <h1 id="pieceH1">Piece Selection</h1>
    </header>
    <main id="pieceSel">
      <p style="display: none" id="popup">Please choose a number of pieces.</p>

      <form method="post" action="/play" enctype="multipart/form-data">
        <label id="custom"
          ><span id="customText">Choose Photo:</span>
          <input
            type="file"
            accept="image/jpg, image/png, image/jpeg"
            name="file"
            required
        /></label>
        <img id="image" src="#" width="500px" height="500px" />
        <!-- <canvas id="image" width="500px" height="500px"></canvas> -->
        <div class="pieceCt">
          <label
            >4<input type="checkbox" name="pieceCount" onclick="unclick(this)"
          /></label>
          <label
            >25<input type="checkbox" name="pieceCount" onclick="unclick(this)"
          /></label>
          <label
            >36<input type="checkbox" name="pieceCount" onclick="unclick(this)"
          /></label>
          <label
            >64<input type="checkbox" name="pieceCount" onclick="unclick(this)"
          /></label>
          <label
            >100<input
              type="checkbox"
              name="pieceCount"
              onclick="unclick(this)"
          /></label>
          <label><input name="binaryFile"  /></label>
          <label><input name="gridsize" type="hidden" /></label>
        </div>
        <button type="submit" id="play">PLAY</button>
        <!-- <a id="play" href="play?type=custom&image=null&grid=0">PLAY</a> -->
      </form>
    </main>
    <footer>
      <p>&copy; 2022 || DC-CC-21 & Tauriel1202 || .:|:.</p>
      <span id="lm"></span>
    </footer>
    <script>
      let boxes = document.getElementsByName("pieceCount");
      let a = document.getElementById("play");
      function unclick(currentBox) {
        boxes.forEach((box) => {
          box.checked = false;
        });
        currentBox.checked = true;
        let grid = currentBox.parentElement.innerHTML.split("<")[0];
        document.getElementsByName("gridsize")[0].value = grid;
        a.href = `/play?type=custom&image=null&grid=${grid}`;
      }
      document
        .querySelector('input[type="file"]')
        .addEventListener("change", function () {
          console.log("loading...");
          if (this.files && this.files[0]) {
            let path = URL.createObjectURL(this.files[0]);
            document.getElementById("image").src = URL.createObjectURL(
              this.files[0]
            );
            uploadFile(document.getElementById('image'))
          }
        });
      document.getElementById("play").addEventListener("click", (e) => {
        let boxIsChecked = false;
        boxes.forEach((box) => {
          if (box.checked) {
            boxIsChecked = true;
          }
        });
        if (!boxIsChecked) {
          e.preventDefault();
          document.getElementById("popup").style.display = "block";
          return;
        }
      });
      // function uploadFile(inputElement) {
      //   document.getElementById('customText').innerHTML = 'Loading your image...'
      //   var file = inputElement.files[0];
      //   var reader = new FileReader();
      //   reader.onloadend = function () {
      //     /******************* for Binary ***********************/
      //     var data = reader.result.split(",")[1];
      //     var binaryBlob = atob(data);
      //     // var img = document.createElement("img");
      //     // img.src = "data:image/jpeg;base64," + btoa(binaryBlob);
      //     // document.body.appendChild(img);
      //     document.getElementsByName("binaryFile")[0].value = binaryBlob;
      //     document.getElementById('customText').innerHTML = 'Image upload successful'
      //   };
      //   reader.readAsDataURL(file);
      // }
      function uploadFile(image) {
        var img = document.getElementById('image')
        console.log(img)
        // Create an empty canvas element
        var canvas = document.createElement("canvas");
        canvas.width = 600;
        canvas.height = 600;
        // Copy the image contents to the canvas
        var ctx = canvas.getContext("2d");
        let drawImg = new Image()
        drawImg.onload = function(){
          ctx.drawImage(drawImg, 0, 0, canvas.width, canvas.height);
          var dataURL = canvas.toDataURL("image/png");
          document.getElementsByName("binaryFile")[0].value = dataURL
        }
        drawImg.src = img.src
        // Get the data-URL formatted image
        // Firefox supports PNG and JPEG. You could check img.src to guess the
        // original format, but be aware the using "image/jpg" will re-encode the image.

        // return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
      }
      //canvas
      // const canvas = document.getElementById('image')
      // const ctx = canvas.getContext('2d')
      // ctx.fillStyle = '#00a'
      // ctx.fillRect(0,0,canvas.width, canvas.height)
    </script>
  </body>
</html>
