<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
    <meta charset="utf-8">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
  
<body>
    <a href="/puzzleHome">PLAY</a>

    <h1>Simple Calculator.</h1>
    <form action="/" method="post">
        <input type="text" name="num1" 
            placeholder="First Number">
        <input type="text" name="num2" 
            placeholder="Second Number">
              
        <button type="submit" name="submit">
            calculator
        </button>
    </form>
</body>
  
</html>