<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Calculator</title>
  </head>

  <body>
    <h1>HAHA MY PAGE WORKS.💩</h1>
    <h1 id="test">this page is broken</h1>
    <%details.forEach(item => {%>
      <h1><%=JSON.stringify(item)%></h1>
    <%})%>
  </body>
</html>
