<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Home Library for Puzzle App." />
    <meta name="theme-color" content="#000000" />

    <title>Puzzle App Library: Home</title>

    <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./css/small.css" />

    <!-- PWA -->
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="./assets/apple-touch-icon.png" />
<!-- <link rel="apple-touch-startup-image" href="./assets/ios-startup-image-portrait.png" media="orientation:portrait"> -->
    <!-- <link rel="apple-touch-startup-image" href="./assets/ios-startup-image-landscape.png" media="orientation:landscape"> -->




    <!-- iPhone -->
    <link href="./assets/apple-touch-startup-images/apple-touch-startup-image-320x460.png"
          media="(device-width: 320px) and (device-height: 480px)
            and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">
    <!-- iPhone (Retina) -->
    <link href="./assets/apple-touch-startup-images/apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and (device-height: 480px)
            and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPhone 5 -->
    <link href="./assets/apple-touch-startup-images/apple-touch-startup-image-640x1096.png"
          media="(device-width: 320px) and (device-height: 568px)
            and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPad (portrait) -->
    <link href="./assets/apple-touch-startup-images/apple-touch-startup-image-768x1004.png"
          media="(device-width: 768px) and (device-height: 1024px)
            and (orientation: portrait)
            and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">
    <!-- iPad (landscape) -->
    <link href="./assets/apple-touch-startup-images/apple-touch-startup-image-748x1024.png"
          media="(device-width: 768px) and (device-height: 1024px)
            and (orientation: landscape)
            and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">
    <!-- iPad (Retina, portrait) -->
    <link href="./assets/apple-touch-startup-images/apple-touch-startup-image-1536x2008.png"
          media="(device-width: 768px) and (device-height: 1024px)
            and (orientation: portrait)
            and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPad (Retina, landscape) -->
    <link href="./assets/apple-touch-startup-images/apple-touch-startup-image-1496x2048.png"
          media="(device-width: 768px) and (device-height: 1024px)
            and (orientation: landscape)
            and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">


  </head>
  <body>
    <header id="home">
      <h1>Puzzled</h1>
      <a href="login?type=Sign in" class="login">
        <% if(typeof user == 'undefined'){ %> Login <% } else{ %> Welcome <%=
        user.name %> <% } %>
      </a>
    </header>
    <main>
      <a href="play?type=resume">
        <div>
          <img
            src="./assets/homeImgs/resume.jpg"
            alt="Resume Img"
            width="300"
            height="233"
          />
        </div>
        <h2>Resume</h2>
      </a>

      <a href="customPuzzle">
        <div>
          <img
            src="./assets/homeImgs/Camera.svg"
            alt="Camera Img"
            width="300"
            height="233"
          />
        </div>
        <h2>Custom</h2>
      </a>
      <p id="details" style="display:none;">
        <% if(typeof user == 'undefined'){ %> null <% } else{ %><%=
          JSON.stringify(user) %> <% } %>
      </p>
    </main>
    <footer>
      <p>&copy; 2022 || DC-CC-21 & Tauriel1202 || .:|:.</p>
      <span id="lm"></span>
    </footer>

    <script>
      let userdata = JSON.parse(document.getElementById("details").innerHTML);
      if(userdata){
        localStorage.setItem("user_id", userdata.id);
      }
      let main = document.getElementsByTagName("main")[0];
      fetch("./assets/puzzles.json")
        .then((response) => response.json())
        .then((jsObject) => {
          let before = main.firstChild;
          Object.keys(jsObject).forEach((element) => {
            let a = document.createElement("a");
            a.href = "puzzleSelector?type=" + element;

            let div = document.createElement("div");
            a.append(div);

            let img = document.createElement("img");
            img.src = "./assets/" + element + "/" + jsObject[element][0];
            img.alt = element;
            div.append(img);

            let h2 = document.createElement("h2");
            h2.innerHTML = element;
            a.append(h2);

            main.insertBefore(a, before);
          });
        });
      window.addEventListener("load", () => {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("service-worker.js");
        }
      });
    </script>
  </body>
</html>
