<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Home Library for Puzzle App." />
    <title>Puzzle App Library: Home</title>
    <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./css/small.css" />

    <link
      href=""
      rel="stylesheet"
    />
    <link
      href=""
      rel="stylesheet"
    />
  <body>
    <header>
      <h1>Puzzle Library: Home</h1>
    </header>
    <main>
      <a href='#'>
        <div>
          <img src='./assets/homeImgs/resume.jpg' alt='Resume Img' width='300' height='233'>
        </div>
        <h2>Resume</h2>
      </a>
      

      <a href='pieceSetup'>
        <div>
          <img src='./assets/homeImgs/Camera.svg' alt='Camera Img' width='300' height='233'>
        </div>
        <h2>Custom</h2>
      </a>
    </main>
    <footer>
      <p>&copy; 2022 || DC-CC-21 & Tauriel1202 || .:|:.</p>
      <span id="lm"></span>
    </footer>
    <script>
      let main = document.getElementsByTagName('main')[0]
      fetch('./assets/puzzles.json') 
      .then(response => response.json())
      .then(jsObject => {
        let before = main.firstChild
        Object.keys(jsObject).forEach(element => {
          let a = document.createElement('a')
          a.href = 'puzzleSelector?type='+element

          let div = document.createElement('div')
          a.append(div)

          let img = document.createElement('img')
          img.src = './assets/'+element+'/'+jsObject[element][0]
          img.alt = element
          div.append(img)
          
          let h2 = document.createElement('h2')
          h2.innerHTML = element
          a.append(h2)

          main.insertBefore(a, before);           
        });
        }) 

    </script>
  </body>
</html>