<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="./css/small.css" />

    <title>Recently Played</title>
  </head>
  <body>
    <header>
      <a href="puzzleHome"
        ><img
          src="./assets/BackButton.svg"
          alt="back"
          width="100px"
          height="100px"
      /></a>
      <h1 id="pieceH1">Recently Played</h1>
    </header>
    <main id="pieceSel">
        <h1>You have no recently played puzzles.</h1>
      <!-- <button type="submit" id="play">Play</button> -->
    </main>
    <footer>
      <p>&copy; 2022 || DC-CC-21 & Tauriel1202 || .:|:.</p>
      <span id="lm"></span>
    </footer>

  </body>
</html>
